@model List<E_Kataale.Models.Department>

@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Master_Layout.cshtml";

}



<h2>Departments</h2>

<div class="container">This is where the other list of departments will be displayed</div>


<div class="container row">
    <div class="col-md-8">

        <table class="table table-hover" id="example">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Categories</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var department in Model)
                    {
                        <tr>

                            <td>@department.Name</td>
                            <td>@department.Description</td>
                            <td>
                                @Html.ActionLink(department.Categories.ToString(), "categories-dept", new { id = department.ID },new { @class="text-primary" })
                                      
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Department", new { department.ID }, new { @class = "text-primary" })&nbsp;
                                @{
                                    if (department.Categories > 0)
                                    {

                                    }
                                    else
                                    {
                                       
                                            @Html.ActionLink("Delete","DeleteDepartment", new { department.ID }, new { @class = "text-danger" })

                                        
                                    }
                                }
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>

    </div>

    <div></div>

    <div class="col-md-4">

        <div class="form-horizontal">
            <h4>Add Department</h4>
            <hr />

            @{
                using (Html.BeginForm("NewDepartment", "Admin", FormMethod.Post))
                {

                    <div class="form-group">
                        <label class="control-label col-md-2">Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="Name" />

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Description</label>
                        <div class="col-md-10">
                            <textarea type="text" class="form-control" name="Description" rows="5"></textarea>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>

                }

            }


        </div>

    </div>
</div>
